<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSPreviewAtActualSizeAction</key>
	<string>§~</string>
	<key>MSZoomAction</key>
	<string>zζя</string>
	<key>MSInsertVectorAction</key>
	<string>vωм</string>
	<key>MSPencilAction</key>
	<string>pπз</string>
	<key>MSInsertTextLayerAction</key>
	<string>tτе</string>
	<key>MSOvalShapeAction</key>
	<string>oοщ</string>
	<key>MSRectangleShapeAction</key>
	<string>rρк</string>
	<key>MSInsertArtboardAction</key>
	<string>aαф</string>
	<key>MSInsertSliceAction</key>
	<string>sσы</string>
	<key>MSInsertLineAction</key>
	<string>lλд</string>
	<key>MSRoundedRectangleShapeAction</key>
	<string>uθг</string>
	<key>MSToggleFillAction</key>
	<string>fφа</string>
	<key>MSToggleBorderAction</key>
	<string>bβи</string>
	<key>MSAddFlowAction</key>
	<string>wц</string>
	<key>MSInsertHotspotAction</key>
	<string>hр</string>
</dict>
</plist>
